@import "/src/styles.scss";

:host {
  position: relative;
  height: max-content;
  width: 100%;
  overflow-y: visible;
  margin-top: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#content {
  height: 100%;
  width: 100%;
}
